<div class="container mt-4">
  <div class="panel panel-default">
    <div class="panel-heading mb-3"><h3>Edition d'un utilisateur</h3></div>
    <div class="panel-body" *ngIf="currentUser">
      <form #f='ngForm' (ngSubmit)="onEdit(f.value)">
        <div class="form-group">
          <label class="control-label">Nom
            <input size="50" class="form-control" type="text" name="firstName" [(ngModel)]="currentUser.firstName">
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">Prenoms
            <input size="50" class="form-control" type="text" name="lastName" [(ngModel)]="currentUser.lastName">
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">Email
            <input size="50" class="form-control" type="text" name="email" [(ngModel)]="currentUser.email">
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">N° téléphone
            <input size="50" class="form-control" type="text" name="phoneNumber" [(ngModel)]="currentUser.phoneNumber">
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">N° CNI ou N° Carte sclolaire
            <input size="50" class="form-control" type="text" name="identity" [(ngModel)]="currentUser.identity">
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">Mot de passe
            <input size="50" class="form-control" type="text" name="password" [(ngModel)]="currentUser.password">
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">Type d'utilisateur
            <select class="form-control" name="userType" [(ngModel)]="currentUser.userType">
              <option  *ngFor="let typeUser of typeUsers" [ngValue]="typeUser">{{typeUser}}</option>
            </select>
          </label>
        </div>
        <button class="btn btn-success" type="submit">Enregistrer</button>
      </form>
    </div>
  </div>
</div>
