<div class="container mt-4">
  <div class="panel panel-default">
    <div class="panel-heading mb-3"><h3>Nouvel utilisateur</h3></div>
    <div class="panel-body">
      <form #f='ngForm' (ngSubmit)="onAdd(f.value)">
        <div class="form-group">
          <label class="control-label">Nom
            <input size="50" class="form-control" type="text" name="firstName" ngModel>
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">Prenoms
            <input size="50" class="form-control" type="text" name="lastName" ngModel>
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">Email
            <input size="50" class="form-control" type="text" name="email" ngModel>
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">N° téléphone
            <input size="50" class="form-control" type="text" name="phoneNumber" ngModel>
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">N° CNI ou N° Carte scolaire
            <input size="50" class="form-control" type="text" name="identity" ngModel>
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">Mot de passe
            <input size="50" class="form-control" type="text" name="password" ngModel>
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">Type d'utilisateur
            <input size="50" class="form-control" type="text" name="userType" ngModel>
          </label>
        </div>
        <button class="btn btn-success" type="submit">Ajouter</button>
      </form>
    </div>
  </div>
</div>
