<div class="container mt-4">
  <div class="row mt-3">
    <div class="col-lg col-sm col-xl">
      <h4>Nombre d'heures total par mois</h4>
      <div class="chart-wrapper">
        <canvas baseChart style="height: 400px"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>
    </div>
    <div class="col-lg col-sm col-xl">
      <h4>Nombre d'heures total par utilisateur</h4>
      <div class="chart-wrapper">
        <canvas baseChart style="height: 400px"
                [datasets]="barChartData1"
                [labels]="barChartLabels1"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartClick)="test($event)">
        </canvas>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg col-sm col-xl">
      <h4>Nombre d'heures total non utilisé par utilisateur</h4>
      <div class="chart-wrapper">
        <canvas baseChart style="height: 400px"
                [datasets]="barChartData2"
                [labels]="barChartLabels1"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>
    </div>
    <div class="col-lg col-sm col-xl">
      <h4>Nombre d'heures total par utilisateur</h4>
      <div class="chart-wrapper">
        <canvas baseChart style="height: 400px"
                [datasets]="barChartData1"
                [labels]="barChartLabels1"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartClick)="test($event)">
        </canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <h3>Utilisateurs présents dans la salle</h3>
    <table *ngIf="[placesActives]" class="table table-striped">
      <tr>
        <th>Email</th>
        <th>Poste</th>
        <th>Heure début</th>
        <th>Heure fin</th>
        <th>Type de service</th>
      </tr>
      <tr style="cursor: pointer" *ngFor="let placeActive of placesActives">
        <td>{{placeActive.userEmail}}</td>
        <td>{{placeActive.computerNumber}}</td>
        <td>{{convertStringToNumber(placeActive.timeReservation)}} h</td>
        <td>{{convertStringToNumber(placeActive.timeReservation) + 1}} h</td>
        <td>{{placeActive.serviceType}}</td>
      </tr>
    </table>
  </div>

  <div class="row mt-3 mb-3">
    <h3>Utilisateurs présents aujourd'hui</h3>
    <table *ngIf="[placesPresents]" class="table table-striped">
      <tr>
        <th>Email</th>
        <th>Poste</th>
        <th>Heure début</th>
        <th>Heure fin</th>
        <th>Type de service</th>
      </tr>
      <tr style="cursor: pointer" *ngFor="let placePresent of placesPresents">
        <td>{{placePresent.userEmail}}</td>
        <td>{{placePresent.computerNumber}}</td>
        <td>{{convertStringToNumber(placePresent.timeReservation)}} h</td>
        <td>{{convertStringToNumber(placePresent.timeReservation) + 1}} h</td>
        <td>{{placePresent.serviceType}}</td>
      </tr>
    </table>
  </div>

  <div class="row mt-3 mb-3">
    <h3>Utilisateurs non présents aujourd'hui</h3>
    <table *ngIf="[placesNonPresents]" class="table table-striped">
      <tr>
        <th>Email</th>
        <th>Poste</th>
        <th>Heure début</th>
        <th>Heure fin</th>
        <th>Type de service</th>
      </tr>
      <tr style="cursor: pointer" *ngFor="let placeNonPresent of placesNonPresents">
        <td>{{placeNonPresent.userEmail}}</td>
        <td>{{placeNonPresent.computerNumber}}</td>
        <td>{{placeNonPresent.timeReservation.split(',')[0]}} h</td>
        <td>{{placeNonPresent.timeReservation.split(',')[1]}} h</td>
        <td>{{placeNonPresent.serviceType}}</td>
      </tr>
    </table>
  </div>
</div>
